body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

a, a:link, a:visited {
  text-decoration: none;
  display: inline-block;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  padding: 7px 18px;
  background-color: #540cfa;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
          box-shadow: 0px 2px 4px rgba(60, 9, 179, 0.3);
  border-radius: 4px;
}

.btn:hover {
  -webkit-transform: translateY(-3px) scale(1.02);
          transform: translateY(-3px) scale(1.02);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.hamburger-menu {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  width: 16px;
  height: 2px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.hamburger-menu:before,
.hamburger-menu:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 2px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s;
  transition: .3s;
}

.hamburger-menu:before {
  top: -5px;
}

.hamburger-menu:after {
  top: 5px;
}

.navbar__hamburger-menu.active .hamburger-menu {
  background: transparent;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.navbar__hamburger-menu.active .hamburger-menu:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.navbar__hamburger-menu.active .hamburger-menu:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

/*ancher link*/
.link, .link:link, .link:visited {
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.link:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.link:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.navBar {
  height: 11.2rem;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .navBar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navBar__logo {
  color: #303030;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navBar__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-preferred-size: 55.9rem;
      flex-basis: 55.9rem;
  margin-right: -20rem;
}

.navBar__link, .navBar__link:link, .navBar__link:visited {
  position: relative;
  color: #303030;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navBar__link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f85c5e;
  height: 0.3rem;
  width: 0;
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navBar__link:hover:before {
  width: 100%;
}

.navBar__link:hover {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #f85c5e;
}

.navBar__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navBar__right a:not(:last-child) {
  margin-right: 2rem;
}

.navBar__right svg {
  fill: #000000;
}

.navBar__search {
  width: 3rem;
  height: 3.4rem;
}

.navBar__user {
  width: 3rem;
  height: 3.4rem;
}

.navBar__cart {
  width: 3rem;
  height: 3.4rem;
  position: relative;
}

.navBar__cart #cartProducts {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  background-color: #f85c5e;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.9rem;
}

.pathSection {
  height: 5rem;
  background-color: #f5f5f5;
}

.path {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .path {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.path li {
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  color: #404040;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.path li:nth-child(2n+2) {
  height: 2rem;
  width: 2rem;
  fill: #f85c5e;
}

.path li:not(:last-child) {
  margin-right: 1rem;
}

.catalog {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 992px) {
  .catalog {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
}

.menu__h2 {
  color: #404040;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  margin-bottom: 4rem;
  margin-top: 8rem;
}

.menu__category {
  color: #787878;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 2.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.menu__category.active h3 {
  color: #f85c5e;
}

.menu__category h3 {
  font-weight: inherit;
}

.menu__category span {
  opacity: .6;
}

.menu__collapseLists {
  margin-left: 2rem;
  color: #787878;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  height: 0;
  overflow: hidden;
}

.menu__collapseLists h3 {
  font-weight: inherit;
}

.menu__collapseLists h3:not(:last-child) {
  margin-bottom: 2.7rem;
}

.menu__collapseLists.collaps {
  height: auto;
  margin-top: 1.9rem;
  margin-bottom: 2.3rem;
}

.menu__sizeBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 4 - 0.5rem);
  height: 4rem;
  background-color: #ededed;
  color: #787878;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.menu__size.active {
  color: #f85c5e;
  background-color: #f5f5f5;
}

.menu__priceBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__price {
  width: calc(50% - 1rem);
  border: 1px solid #787878;
  padding: .5rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
}

.menu__brandsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__brandElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__brandElement:not(:last-child) {
  margin-bottom: 2rem;
}

.menu__brandCheckBox {
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid #ededed;
  margin-right: 1.5rem;
  position: relative;
}

.menu__brandCheckBox.active:after {
  background-color: #f85c5e;
}

.menu__brandCheckBox:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 60%;
  width: 60%;
}

.menu__brandName {
  color: #787878;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.menu__filter {
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
          box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
  background-color: #f85c5e;
  text-align: center;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
}

.left__block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(75% - 30px);
}

.tool {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 8rem;
}

.tool__hideSidebar {
  background-color: #ededed;
  color: #787878;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  padding: 1.1rem 1.3rem;
  border-radius: 4px;
}

.tool__sorting {
  background-color: #ededed;
  color: #787878;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.25px;
  padding: 1.1rem 1.3rem;
  border-radius: 4px;
  margin-left: 2rem;
  cursor: pointer;
  position: relative;
}

.tool__sorting-menu {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 1.3rem;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
  background-color: inherit;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 1;
}

.tool__sorting-menu div {
  padding: 3px 0;
}

.tool__sorting-menu div:hover {
  background-color: #f5f5f5;
}

.tool__results {
  margin-left: auto;
  color: #787878;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
}

.productBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 25rem;
  text-align: center;
  margin-top: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.productBox:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.productBox:hover .like,
.productBox:hover .addToCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.7;
}

.productBox__img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: center no-repeat;
  background-size: auto;
  position: relative;
}

.productBox__img .like {
  position: absolute;
  left: 1.9rem;
  bottom: 1.9rem;
  width: 4rem;
  height: 4rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
          box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
  background-color: #ffffff;
  fill: #f85c5e;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.productBox__img .like svg {
  width: 3rem;
  height: 3rem;
}

.productBox__img .addToCart {
  display: none;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 2rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
          box-shadow: 0 0 3px rgba(0, 0, 1, 0.35);
  background-color: #f85c5e;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
}

.productBox__img .new {
  position: absolute;
}

.productBox__name {
  color: #303030;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.productBox__price {
  color: #f85c5e;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1rem;
}

.productBox__price span {
  display: inline-block;
  text-decoration: line-through;
  margin-left: 2rem;
  color: #787878;
  font-size: 1.4rem;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 5rem 0;
}

.pagination__arrow {
  width: 2rem;
  fill: #787878;
  margin: auto 1rem;
  cursor: pointer;
}

.pagination__arrow:hover {
  fill: #f85c5e;
}

.pagination__arrow.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination .pages .page {
  color: #787878;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border: 2px solid #ededed;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}

.pagination .pages .page:hover {
  background-color: #ededed;
}

.pagination .pages .page.show {
  display: block;
  margin: 0 1rem;
}

.pagination .pages .page.active {
  background-color: #f85c5e;
  color: #ffffff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.debug {
  height: 100vh;
  position: fixed;
  width: 100%;
}

.debug > div {
  height: inherit;
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 992px) {
  .debug > div {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.debug > div > div {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.debug > div > div > div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(8.33333% - 30px);
  height: inherit;
  outline: 1px solid #ee9;
  background: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 2px;
  }
}
/*# sourceMappingURL=main.css.map */