.product{
    @include wrapper();
    margin-top: 5rem;
}
.product__image{
    @include col();
    @include size(7);
    border: solid 1px $colorBlack;
    height: 55rem;
    display: flex;
    .slider{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        &__img{
            width: 10rem;
            height: 10rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border: solid 1px $colorBlack-3;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
        }
    }
    .img{

    }
}
.product__info{
    @include col();
    @include size(5);
    background-color: #c2c2c2;
}
